.wrapper-countries {
  display: flex;
  align-items: center;
}
.countries h1 {
  margin: 0;
}
.countries ul {
  width: 400px;
}
.countries ul li {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
